<form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="nome">Nome:</label>
            <input id="nome" class="form-control" name="nome" placeholder="Nome" [(ngModel)]="dataUser.Nome" type="text">
        </div>
        <div class="form-group col-md-6">
            <label for="telefone">Telefone:</label>
            <input id="telefone" class="form-control" name="telefone" placeholder="(81) 99999-9999" [(ngModel)]="dataUser.Telefone" type="number">
        </div>
    </div>
    <div>
        <label for="endereco">Endereco:</label>
        <input id="endereco" class="form-control" name="endereco" placeholder="Rua dos Bobos, nº 0" [(ngModel)]="dataUser.Endereco" type="text">
    </div>
    <div class="form-row spaceFormsRow">
        <div class="form-group col-md-6">
            <label for="cidade">Cidade</label>
            <input class="form-control" name="cidade" id="cidade" [(ngModel)]="dataUser.Cidade" type="text">
        </div>
        <div class="form-group col-md-4">
            <label for="estado">Estado</label>
            <select id="estado" name="estado" class="form-control" [(ngModel)]="dataUser.Estado">
                <option selected>Escolher...</option>
                <option *ngFor=""></option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="CEP">CEP</label>
            <input class="form-control" name="CEP" id="CEP" [(ngModel)]="dataUser.CEP" type="text">
        </div>
    </div>
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" id="Check" type="checkbox" required>
            <label class="form-check-label" for="Check">
            Clique em mim
            </label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
 </form>